{% load static %}
<html>
<head>
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel=”stylesheet”  href="{% static 'demo.css' %}">
</head>
<body>

<h2>STUDENT DETAILS</h2>
<form action="hehe/" method="POST">
    {% csrf_token %}
  Name:<br>
  <input type="text" name="name" >
  <br>
  Register Number:<br>
  <input type="text" name="register_no">
  <br>
  Year:<br>
  <input type="number" name="year" >
  <br>
  CGPA:<br>
  <input type="number" name="cgpa" >
  <br>
  Phone Number:<br>
  <input type="number" name="ph_no">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
